/* -------------------------------------------------- */
/* ANIMATIONS
/* -------------------------------------------------- */

.animate#{$modifier} {

	&#{'play'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-play-state: running;
		}

	}

	&#{'pause'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-play-state: paused !important;
		}

	}

	&#{'forward'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-direction: normal;
		}

	}

	&#{'reverse'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-direction: reverse;
		}

	}

	&#{'loop'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-iteration-count: infinite;
		}

	}

	&#{'keep'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-fill-mode: both;
		}

	}

	&#{'reset'} {

		@include breakpoint($type: 'all', $prefix: '-', $suffix: '') {
			animation-fill-mode: none;
		}

	}

}
